body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: aquamarine;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
  background-color: beige;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
  display: grid;
}

.ui.grid {
  padding: 0px 20px;
  display: grid;
}

.fa-sort {
  font-size: 20px;
  margin-inline: 5px;
}

.ui.card {
  margin-inline: 10px;
  margin-top: 0;
  display:grid;
  
}

.ui.card:last-child {
  margin-bottom: 13px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
  display: block;
  width: fit-content;
  height: auto;
  border-radius: inherit;
  background-color: rgb(139, 59, 204);
}
.ui.card>.extra, .ui.cards>.card>.extra {
  background-color: rgb(229, 235, 235);

  

}